@import "~bootstrap/scss/functions";

@import "./vendors/bootstrap";
@import "./vendors/bootstrap-select";

html {
    overflow-x: hidden;
}

body {
    background-color: #f8f9fa !important;
    overflow: hidden; /* Default action */
    min-width: 992px;
}

div.container {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 962px;

    min-height: 700px;
}

div.contents {
    margin-top: 20px;
    background-color: white;

    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

    padding: 20px;
}

.hidden {
    display: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

tbody:nth-child(odd) {
    background: #f8f8f8;
}

.brighter {
    opacity: 0.5;
}

ul.disabled > li {
    @extend .disabled;
}

input[readonly]{
  background-color: white !important;
}

.popover{
  width: 500px;
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}